.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-container .greeting{
    color: #3E362F;
}
.main-container .item-container{
    margin: 10px 20%;
    display: flex;
    flex-wrap: wrap;
    align-items:flex-start;
    justify-content:space-evenly;
}